body {
  background-color: lightblue;
}
#title {
text-align: center;
font-size: 30px;
}
#image {
  display: flex;
  border: 35px solid white;
  width: 500px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
}
#img-caption {
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
#tribute-info {
  font-family: "Times New Roman", Times, serif;
}
#timeline {
text-align: center;




}

#timelineheader {
text-decoration: underline;
text-align: center;

}
